* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    font-family: "Inter", sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.encriptador {
    background-color:#ddf3fb;
    border-radius: 10px;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.logo {
    background-color: #ddf3fb;
    display: flex;
    flex-direction: column;
    height: 24px;
    padding: 20px;
    width: 100px;
}

.panel_izquierdo {
    align-items: center;
    background-color: #ddf3fb;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.panel_izquierdo textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 32px;
    height: 60%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
    width: 80%;
}

.botones {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 20px;
    width: 75%;
}

.botones button {
    border-radius: 100px;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 16px;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.botones .encriptar {
    background-color: #1a3b71;
    color: white;
}

.botones .encriptar:hover{
    background-color: #6c96d9;
}

.botones .desencriptar {
    background-color: #e0e0e0;
    color: #333;
}

.botones .desencriptar:hover{
    background-color: #a4c5ea;
}

.panel_derecho {
    align-items: center;
    background-color: #c1e9f8;
    display: flex;
    flex: 0.75;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.panel_derecho .output {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 60%;
    justify-content: center;
    overflow: auto;
    padding: 20px;
    width: 80%;
}

.panel_derecho .sin_texto img {
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
}

.subtitulo {
    font-size: 20px;
    font-weight: bold;
}

.panel_derecho .sin_texto {
    color: #777;
    text-align: center;
}

.panel_derecho button {
    background-color: #1a3b71;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.panel_derecho button:hover{
    background-color: #6c96d9;
}

@media (max-width: 1200px) {
    .encriptador {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        height: auto;
    }

    .panel_izquierdo {
        max-width: 100%;
    }

    .botones {
        width: 90%;
    }

    .panel_derecho {
        flex: 1;
        padding: 10px;
    }

    .panel_derecho .sin_texto img {
        display: none;
    }
}